.main{
    background-color: rgba(4, 4, 28, 0.535);
    border: 0.05rem solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
}


.linha {
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 0.05rem;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.425);
}

.login {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

